@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	box-sizing: border-box;
}

html {
	width: 335px;
	height: 600px;
	@apply text-white bg-black;
}

body {
	margin: 0px;
	background: radial-gradient(
		43.72% 22.63% at 50% 50%,
		rgba(255, 255, 255, 0.15) 0%,
		rgba(255, 255, 255, 0) 90%
	);
}

table {
	/* box-shadow and borders will not work with positon: sticky otherwise */
	border-collapse: separate !important;
	border-spacing: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	/* Customize the scrollbar width */
	@apply w-1;
}

::-webkit-scrollbar-track {
	/* Customize the scrollbar track */
	@apply bg-neutral-600;
}

::-webkit-scrollbar-thumb {
	/* Customize the scrollbar thumb */
	@apply bg-neutral-500 rounded-full;
}

@layer utilities {
	/* Containers */
	.container-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.container-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.bg-card {
		@apply bg-neutral-700/50 backdrop-blur-md;
	}
}
