@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	box-sizing: border-box;
}

html {
	width: 350px;
	height: 600px;
	@apply text-gray-700 bg-stone-50;
}

body {
	margin: 0px;
}

table {
	/* box-shadow and borders will not work with positon: sticky otherwise */
	border-collapse: separate !important;
	border-spacing: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	/* Customize the scrollbar width */
	@apply w-1;
}

::-webkit-scrollbar-track {
	/* Customize the scrollbar track */
	@apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
	/* Customize the scrollbar thumb */
	@apply bg-gray-200 rounded-full;
}

@layer utilities {
	/* Containers */
	.container-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.container-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}
